button{
    border:none;
    cursor:pointer;
    width:9vw;
    font-size:0.6rem;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: rgba(13, 95, 158, 0.1);

    a{
        text-decoration: none;
        color:#fff;
    }
    &:hover{
    // box-shadow: 4px 4px 4px 4px rgba(13, 95, 158, 0.9);
    }

    i{
        margin:0.21em;
        color: #fff;
    }
}

.home{
    width:8vw;
}

.upper-nav, .lower-nav ul{
    list-style:none;
    width:6em;
}
.lower-nav{
    margin-left:0px;
    margin-top: 1em;
}

.upper-nav{
    width:80vw;
}

#customer{
    width:17vw;
}
.payment{
    width:14vw;
}

#media{
    width:8vw;
}

#about-btn, .about{
    width:9vw;
}

#map{
    width:16vw;
}

#e-bill{
    width:15vw;
}

#contact{
    width:14vw;
}

.download{
    width:13vw;
}

.upper-nav button{
    z-index: 3;
}

.home{
    box-shadow: 4px 4px 4px 4px rgba(13, 95, 158, 0.9);
}