@import 'button';
@import 'config';
@import 'about';
@import 'customer';
@import 'location';
@import 'media';
@import 'career';
@import 'ebill';
@import 'contact';
@import 'mapmeter';






.logo{
    z-index:200;
    ul{
        list-style:none;
        
        li{
            padding-left: 1rem;
            font-size: 1.8rem;
            i{
                color:adjust-hue($color: #0f30a0, $degrees: 0);
            }
        }
    }

}

